*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body
{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('images/gym_background.jpg'); 
    background-size: cover;
    color: #fff;
    font-family: sans-serif;
    height: 100vh;
    box-sizing: border-box;
    padding:30px 130px 0 50px;
    position: relative;
}   

.side_bar
{
	position: absolute;
	/*border:1px solid #fff;*/
	right: 0;
	top: 0;
	height: 100%;
	width: 80px;
	background-color: rgba(247, 39, 0,1);
	text-align: center;
}


.side_bar .hamburger
{
	margin-top: 20px;
	margin-bottom: 20px;
	/*border:1px solid #ccc;*/
	height: 30px;
}


.hamburger ul li
{
	list-style:none; 
	margin-bottom: 2px;
	padding-right: 48px;

}

.hamburger .li_1::after
{
	content:'';
	width: 23px;
	height: 1px;
	background:#fff;
	opacity: 0.8;
	position: absolute;
	top: 23px;
}

.hamburger .li_2::after
{
	content:'';
	width: 23px;
	height: 1px;
	background:#fff;
	opacity: 0.8;
	position: absolute;
	top:27px;
}

.hamburger .li_3::after
{
	content:'';
	width: 15px;
	height: 1px;
	background:#fff;
	opacity: 0.8;
	position: absolute;
	top:31px;
}

.side_bar .search
{
	margin-top: 30px;
	font-weight: 100;
	font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
	color: rgba(202, 207, 210,0.6);
	font-size: 24px;
	padding-right: 18px;
}

.side_bar .circles
{
	margin-top: 270px;
}

.circles li
{
	list-style: none;
	font-size: 10px;
	margin-bottom: 6px;
	color: rgba(202, 207, 210,0.6);
}

.share 
{   margin-top: 50px;
	color: rgba(202, 207, 210,0.6);
	margin-right: 5px;
}

.share span
{   position: absolute;
	margin-left: 5px;
	text-decoration: none;
	top: 491px;
}


.container
{
   height: 100%;
   /*border:1px solid #fff;*/
}

.top
{
	height: 6%;
	width: 100%;
	/*border:1px solid #fff;*/
}

.top ul li
{
   display: inline-block;
   text-align: center;
   margin-right: 20px;
   font-size: 120%;
}

.middle
{
	height: 94%;
	width: 100%;
	/*border:1px solid #fff;*/
	display:grid;
	grid-template-columns: 0.5fr 9fr;
	position:relative;

}

.middle .social_media
{
	/*border:1px solid #fff;*/
	height: 100%;
	
}

.social_media ul
{   position: absolute;
	top: 40%;
}

.social_media ul li
{
	list-style: none;
	margin-bottom: 10px;
}

.middle .text
{
   
	height: 100%;
	/*border:1px solid #fff;*/
}

.middle .text .up_text
{
   position: absolute;
   width: 200px;
   height: 100px;
   /*border:1px solid #fff;*/
   right: 0;
   margin-top: 150px;
}

.up_text h1
{
	float:right;
	/*border:1px solid #fff;*/
	margin-bottom: 10px;
}
.up_text .sige_up
{
	font-size: 19px;
}

.middle .text .bottom_text
{ 
   position: absolute;
   width: 300px;
   height: 200px;
   /*border:1px solid #fff;*/
   right: 0;
   margin-top: 260px;
   font-size: 10px;
  
	
}

.bottom_text p
{
	text-align: right;
	color: #F2F4F4 ;
	line-height:12px; 
	 color: rgba(202, 207, 210,0.8)!important;
}




