*
{
	margin:0;
	padding:0;
}

body
{
	font-family:sans-serif;
}

.banner
{
	height: 100vh;
	position: relative;
}

.slider
{
	width: 93%;
	float: left;
}

.carousel-caption
{
	max-height: 350px !important;
	max-width:500px !important;
	text-align: right !important;
	right:30px !important;
	left:auto !important;
	top:160px !important;
    
}

.carousel-caption h1
{
	font-size: 40px;
}

.carousel-caption p
{
    margin-top:25px;
}

.side-menu
{
	height:100%;
	width:7%;
	float: right;
	background-color:#ff0000;
	position:relative; 
	z-index:2;
	text-align: center;
	padding-top: 18px;

}

.side-menu .fa
{
	font-size: 24px;
	cursor: pointer;
	margin-bottom:30px;
}

.side-menu::after
{
	content:'';
	width:1px;
	height:130px;
	background:#fff;
	left:50px;
	top: 190px;
	position: absolute;
}

.carousel-indicators
{
	left: 84.6% !important;
	height: 40% !important ;
	width: 25px !important;
	top: 65% !important;
	display: block !important;
	color:#fff !important;
	left:86.5% !important;
}

.carousel-indicators li
{
	width: 7px !important;
	height: 7px !important;
	border-radius:50% !important;
	margin-left: 15px !important;
	background:transparent !important;
	border: 2px solid #fff !important;
}
